<% unless @exams.blank? %>

  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td>
        <%= t('name') %>
      </td>
      <td>
        <%= t('start_date') %>
      </td>
      <td>
        <%= t('end_date') %>
      </td>
      <td>
        <%= t('status') %>
      </td>
    </tr>

    <tr class="tr-blank"></tr>
    <% @exams.each do |e| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-3"><%= link_to "#{e.name}",:action=>"real_time_status" ,:id=>e.id %></td>
        <td class="col-1"><%= e.start_date.strftime("%d-%m-%Y") %></td>
        <td class="col-1"><%= e.end_date.strftime("%d-%m-%Y") %></td>
        <% unless e.is_published %>
          <td class="col-1"><%= link_to_remote "#{t('publish_t')}",:url=>{:action=>"publish_exam" ,:id=>e.id, :batch_id=>batch_id} %></td>
        <% else %>
          <td class="col-1"><%= t('published') %></td>
        <%  end  %>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @exams,:renderer => 'RemoteLinkRenderer', :params => {:action=>'show_active_exam',:batch_id=>batch_id},:remote=>{:update=>'exam-list'}%>
<% else %>

  <p class="flash-msg"> <%= t('no_exam_created_for_selected_batch') %>  </p>

<% end %>
