<%= load_latex_preview %>
<div id="content-header">
  <div class="header-icon online_exam-icon"></div>
  <h1><%= t('online_exam_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('exam_overview') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">

  </div>
  <div id="flash_box">
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="box">
    <div class="label-field-pair">
      <label for="student_course"><%= t('online_exam_text') %>:
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
      </label>
      <div class="text-input-bg">
        <%= select :batch, :id,
          @batches.map {|b| [b.full_name, b.id] },
          {:prompt => "#{t('select_a_batch')}"},
          {:onchange => "#{remote_function(
          :url => { :action => 'show_active_exam' },
          :with => "'batch_id='+value",
          :update =>'exam-list',
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')"  )}"} %>
      </div>
    </div>
    <div id="exam-list"></div>
  </div>
  <div id="modal-box" style="display:none;"></div>
</div>
