<%= load_latex_preview %>
<div id="content-header">
  <div class="header-icon online_exam-icon"></div>
  <h1><%= t('online_exam_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('real_time_status') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">

  </div>
  <div id="flash_box">
  </div>
  <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="box">

    <div id="exam-list">
      <% unless @attendances.blank? %>

          <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
            <tr class="tr-head">
              <td>
                <%= t('student_id') %>
              </td>

              <td>
                <%= t('student_text') %>
              </td>
              <td>
                <%= t('ip_address') %>
              </td>
              <td>
                <%= t('start_time') %>
              </td>
              <td>
                <%= t('page') %>
              </td>
              <td>
                <%= t('reset_session') %>
              </td>

              <td>
                <%= t('time_left') %>
              </td>


            </tr>

            <tr class="tr-blank"></tr>
            <% @attendances.each do |e| %>
                <tr class="tr-<%= cycle('odd', 'even') %>">
                  <td class="col-1"><%= e.student.admission_no %></td>
                  <td class="col-3"><%= e.student.full_name %></td>
                  <td class="col-1"><%= e.ip_address %></td>
                  <td class="col-1"><%= e.start_time.strftime("%r") %></td>
                  <td class="col-1"><%= e.current_page %></td>
                  <td class="col-1 normal-font themed_text"><%= link_to e.session_id ,{:action=>"update_reset_exam",:id=>e.id}, :class=>"normal-font themed_text"  %> </td>
                  <td class="col-1">
                    <%= e.start_time+e.online_exam_group.maximum_time.minutes < Time.now ? 0 : (e.online_exam_group.maximum_time - ((((Time.current - e.start_time)/1.hour)*60).round(1)) )  %></td>
                </tr>
            <% end %>
          </table>

      <% else %>

          <p class="flash-msg"> <%= t('no_students_attended_exam') %>  </p>

      <% end %>

    </div>
  </div>
  <div id="modal-box" style="display:none;"></div>
</div>
