<% content_for :head do %>
    <%= stylesheet_link_tag "topics/index" %>
<% end  %>
<div id="content-header">
  <div class="header-icon subjects-icon"></div>

  <h1><%= t('my_subjects') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Summary</div>
  <div id="inner-tab-menu">
  </div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= link_to t('my_courses'), :controller => "topics", :action=>"home" %> <div class = "bread-crumb-separator"> > </div>
    <%= t('subject_summary') %>
  </div>
  <div class="box">
    <h4 align="center"><%= t('my_subjects') %></h4>

    <ul id="category-list">

      <% @subjects.each do |sub| %>
          <li class="list<%=cycle('odd', 'even')%>">
            <div class="category-name"><%= link_to "#{sub.name} (#{sub.code})" ,:action =>"subject_students",:id=>sub.id%></div>
            <div class="category-edit"style="width: 125px"><%= sub.batch.full_name %></div>
          </li>
      <% end %>

    </ul>

    <div class="extender"></div>
  </div>
</div>