
<% if (rtl?) %>
  <script>
    j(document).ready(function() {
      j("#drop_header").hover(
      function () {
        link_off = j("#drop_header").offset();
        link_width = j("#drop_header").width();
        link_height = j("#drop_header").height();
        box_width = j("#box_1").width();
        //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
        j("#box_1").css({top: (link_off.top + link_height),left: (link_off.left)});
        j("#box_1").css("display","block");
      },
      function () {
        j("#box_1").css("display","none");
      });
    });
  </script>
<% else %>
  <script>
    j(document).ready(function() {
      j("#drop_header").hover(
      function () {
        link_off = j("#drop_header").offset();
        link_width = j("#drop_header").width();
        link_height = j("#drop_header").height();
        box_width = j("#box_1").width();
        //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
        j("#box_1").css({top: (link_off.top + link_height),left: ((link_off.left + link_width) - box_width)});
        j("#box_1").css("display","block");
      },
      function () {
        j("#box_1").css("display","none");
      });
    });
  </script>
<% end %>
<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('subject_summary') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= @subject.name %></div>

<div id="inner-tab-menu">
    <ul>

      <li  id="drop_header" class='themed_bg themed-dark-hover-background'>
        <a href="#" id="drop_header_link"><%= t('manage') %> &#9660;</a>
        <ul id="box_1" class="more-menu-div" style="display:none;">
          <li class='themed_bg themed-dark-hover-background'><%= link_to "Manage Evaluation Score", :controller=>"evaluation_scores",:action=>"enter_score",:id=>@subject.id %> </li>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "Manage Work Groups", :controller=>"work_groups",:subject_id=>@subject.id %> </li>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "View Student Marks", :controller=>"evaluation_scores",:action=>"evaluation_final_score_report",:id=>@subject.id %> </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div id="page-yield">

  <div class="bread_crumb">
    <%= link_to t('my_courses'), :controller => "topics", :action=>"home" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to t('subject_summary'), :controller => "lesson_plans", :action=>"subject_summary" %> <div class = "bread-crumb-separator"> > </div>
    <%= "#{@subject.name} - #{t('student_list')}" %>
  </div>

  <div class="box"> 
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice]  %> </p>
    <% end %>

    <% unless flash[:warn_notice].nil? %>
      <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
    <% end %>

    <% unless flash[:subject_import].nil? %>
      <div class="flash-msg"><%= t('subject_transfer_message') %>:<br /> <%= flash[:subject_import].join("")%></div>
    <% end %>

    <% unless flash[:no_subject_error].nil? %>
      <div class="flash-msg"><%= flash[:no_subject_error] %></div>
    <% end %>

    <% unless flash[:fees_import].blank? %>
      <div class="flash-msg"><%= t('fee_import_message') %>:<br /> <%= flash[:fees_import].join("")%></div>
    <% end %>
    <% if flash[:fees_import_error].present? %>
      <div class="flash-msg"><%= t('no_fee_import_message') %></div>
    <% end %>

    <table id="listing" width="100%">
      <tr class="tr-head">
        <td><%= t('sl_no') %></td>
        <td><%= t('name') %></td>
        <td><%= t('admission_number') %></td>
      </tr>
      <% @slno = 0 %>
      <% @students.each do |student| %>
        <% @slno= @slno + 1 %>
        <tr class="tr-<%= cycle('odd', 'even')%>">
          <td class="col-1"><%=  @slno %></td>
          <td class="col-2"><%=  student.full_name %></td>
          <td class="col-3"><%= student.admission_no %> </td>
        </tr>
      <% end %>
    </table>

    <div id="extender"></div>
  </div>
</div>

