<div class="label-field-pair">
  <label><%= t('select_a_topic') %><span class="necessary-field">*</span> <%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader",
      :style =>"display: none;" ) %></label>
  <div class="text-input-bg">
    <%= select "exam", "topic_id",
      @topics.map {|b| ["#{b.name}", b.id]}.reverse.push(["#{t('select_a_topic')}",""]).reverse,
      {:selected=> @assigned_topics.present? ? @assigned_topics.first.id : "" } %>
  </div>
</div>

