<div class="label-field-pair">
  <label><%= t('select_a_subject') %><span class="necessary-field">*</span> <%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader",
      :style =>"display: none;" ) %></label>
  <div class="text-input-bg">
    <%= select "exam","subject_id",
      subjects.map {|b| ["#{b.name} (#{b.code})", b.id]}.reverse.push(["#{t('select_a_subject')}",""]).reverse,
      {:selected=> subject_id.present? ? subject_id : "" },
      {:onChange => "#{remote_function(:url => {:action => "list_subject_topics"},
      :with => "'subject_id='+value",
      :before => "Element.show('loader')",
      :success => "Element.hide('loader')"
      )}"} %>
  </div>
</div>
<div id="topic-selector">
  <%=  render :partial => "single_topic_selector"  if @assigned_topics.present? %>
</div>
