<div id="news_content">
  <%= sanitize @topic.description , :tags => %w[b i a h1 h2 h3 u li ol strike p img font span sup sub tr td table th tbody thead strong em iframe], :attributes => %w[href src style border cellspacing cellpadding height width align]%>
</div>


<div class="resource-box">
  <p class="resource-head">Resources</p>
  <%= render :partial=> 'resource_list' %>
</div>