<% if @resources.present?%>
<div class="rect-main">
  <% @resources.each do |r| %>
      <div class="rect-sub">
        <div class="rectangle">
          <div class="att-name"><%= truncate(r.name, :length => 17) %></div>
          <div class="att-links">
            <% if r.user_id == @current_user.id %>
            <div class="delete-link"><%= link_to_remote "X", :url => {:action => :delete_resources, :id => r.id} %></div>
            <% end %>
            <div class="download-link"><%= link_to "&#8595;", :action => :download_resources, :id => r.id, :target => "_blank" %></div>
          </div>
        </div>
      </div>
  <% end %>
</div>
<% else %>
    <p class="flash-msg"> No resource added to this topic </p>
<% end %>