
<% if @topics.present?  %>
    <div class="list_name">
      <%= t("topics_in this_subject") %>
      <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
    </div>
    <ul class="student_list">
      <% @topics.each do |t| %>
          <li class="student_names">
            <a href="#" id="<%=t.id%>"  class="student-link" > <%= t.name %></a>
          </li>
      <% end %>
    </ul>
<% else %>
 <p class="flash-msg"> <%= t("no_topics_present")  %> </p>
<% end %>

<script>
    $$('.student-link').invoke('observe','click',draw_report);
    $$('.student-link').invoke('observe','click',set_active);
</script>