<%-# Fedena
   #Copyright 2010 Foradian Technologies Private Limited
   #
   #This product includes software developed at
   #Project Fedena - http://www.projectfedena.org/
   #
   #Licensed under the Apache License, Version 2.0 (the "License");
   #you may not use this file except in compliance with the License.
   #You may obtain a copy of the License at
   #
   #  http://www.apache.org/licenses/LICENSE-2.0
   #
   #Unless required by applicable law or agreed to in writing,
   #software distributed under the License is distributed on an
   #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   #KIND, either express or implied.  See the License for the
   #specific language governing permissions and limitations
   #under the License. -%>

<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('assign_topics') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('assign_topics_to_subjects') %></div>

  <div id="inner-tab-menu">
    <ul>
    </ul>
  </div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= link_to t('home'), :controller => "topics", :action=>"home" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('index')}", :controller => "topics", :action => "index" %> <div class = "bread-crumb-separator"> > </div>
    <%= t('assign_topics') %>
  </div>
  <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="label-field-pair">
    <label ><%= t('subject') %>:</label>
    <div class="text-input-bg">
      <%= select :course_upscale_level_set, :subject_id,
                 @subjects.map {|cts| [cts.name, cts.id] },
                 {:prompt => "Select a subject"},
                 {:onchange => "#{remote_function(
                         :url =>  'list_topics',
                         :with => "'subject_id='+value",
                         :before => "Element.show('loader')",
                         :success => "Element.hide('loader')"
                 )}"} %>
      <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
    </div>
  </div>
  <div id="list_topics">
  </div>
</div>

<script type="text/javascript">
    function select_assigned_all_or_none(checkbox)
    {
        if(checkbox.checked == true)
        {
            $$('input.assigned_topics_check').each(function(checkbox) { checkbox.checked = true; });
        }
        else
        {
            $$('input.assigned_topics_check').each(function(checkbox) { checkbox.checked = false; });
        }
    }

    function select_available_all_or_none(checkbox)
    {
        if(checkbox.checked == true)
        {
            $$('input.all_topics_check').each(function(checkbox) { checkbox.checked = true; });
        }
        else
        {
            $$('input.all_topics_check').each(function(checkbox) { checkbox.checked = false; });
        }
    }

    function update_assigned()
    {
        var flag = 0;
        $$('input.all_topics_check').each(function(checkbox)
        {
            if(checkbox.checked == true)
            {
                flag = 1;
            }
        })
        if(flag == 0)
        {
            $("select_all").checked = false;
        }
        else
        {
            $("select_all").checked = true;
        }

    }

    function update_available()
    {
        var flag = 0;
        $$('input.available_topics_check').each(function(checkbox)
        {
            if(checkbox.checked == true)
            {
                flag = 1;
            }
        })
        if(flag == 0)
        {
            $("select_all_available").checked = false;
        }
        else
        {
            $("select_all_available").checked = true;
        }
    }

    function add_batch_class_timing_set(subject_id)
    {
        var topic_ids = new Array;
        $$('input.all_topics_check').each(function(checkbox)
        {
            if(checkbox.checked == true)
            {
                Array.prototype.push.call(topic_ids, checkbox.value);
            }
        });
        Element.show('loader1');
        new Ajax.Request('/topics/add_topics', {
            method: 'post',
            onSuccess:function(request){Element.hide('loader1')},
            parameters: {
                add_topic_ids: topic_ids.toString(),
                subject_id: subject_id.toString()
            }
        });
    }

    function remove_batch_class_timing_set(subject_id)
    {
        var topic_ids = new Array;

        $$('input.assigned_topics_check').each(function(checkbox)
        {
            if(checkbox.checked == true)
            {
                Array.prototype.push.call(topic_ids, checkbox.value);
            }
        });
        Element.show('loader1');
        new Ajax.Request('/topics/remove_topics', {
            method: 'post',
            onSuccess:function(request){Element.hide('loader1')},
            parameters: {
                remove_topic_ids: topic_ids.toString(),
                subject_id: subject_id.toString()
            }
        });
    }
</script>
