<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1><%= t('add_resources') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('assign_resources_to_topics') %></div>

  <div id="inner-tab-menu">
    <ul>
    </ul>
  </div>

</div>

<div id="page-yield">
  <div class="bread_crumb">
    <%= link_to t('lesson_plan'), :controller => "topics", :action=>"home" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('my_topics')}", :controller => "topics", :action => "index" %> <div class = "bread-crumb-separator"> > </div>
    <%= t('add_resources') %>
  </div>
  <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>


  <div id="list_resources">
    <%= render :partial => "assign_resources"%>
  </div>
</div>

<script type="text/javascript">
    function select_assigned_all_or_none(checkbox)
    {
        if(checkbox.checked == true)
        {
            $$('input.assigned_topics_check').each(function(checkbox) { checkbox.checked = true; });
        }
        else
        {
            $$('input.assigned_topics_check').each(function(checkbox) { checkbox.checked = false; });
        }
    }

    function select_available_all_or_none(checkbox)
    {
        if(checkbox.checked == true)
        {
            $$('input.all_topics_check').each(function(checkbox) { checkbox.checked = true; });
        }
        else
        {
            $$('input.all_topics_check').each(function(checkbox) { checkbox.checked = false; });
        }
    }

    function update_assigned()
    {
        var flag = 0;
        $$('input.all_topics_check').each(function(checkbox)
        {
            if(checkbox.checked == true)
            {
                flag = 1;
            }
        })
        if(flag == 0)
        {
            $("select_all").checked = false;
        }
        else
        {
            $("select_all").checked = true;
        }

    }

    function update_available()
    {
        var flag = 0;
        $$('input.available_topics_check').each(function(checkbox)
        {
            if(checkbox.checked == true)
            {
                flag = 1;
            }
        })
        if(flag == 0)
        {
            $("select_all_available").checked = false;
        }
        else
        {
            $("select_all_available").checked = true;
        }
    }

    function add_batch_class_timing_set(subject_id)
    {
        var topic_ids = new Array;
        $$('input.all_topics_check').each(function(checkbox)
        {
            if(checkbox.checked == true)
            {
                Array.prototype.push.call(topic_ids, checkbox.value);
            }
        });
        Element.show('loader1');
        new Ajax.Request('/topics/add_resources', {
            method: 'post',
            onSuccess:function(request){Element.hide('loader1')},
            parameters: {
                add_resources_ids: topic_ids.toString(),
                topic: subject_id.toString()
            }
        });
    }

    function remove_batch_class_timing_set(subject_id)
    {
        var topic_ids = new Array;

        $$('input.assigned_topics_check').each(function(checkbox)
        {
            if(checkbox.checked == true)
            {
                Array.prototype.push.call(topic_ids, checkbox.value);
            }
        });
        Element.show('loader1');
        new Ajax.Request('/topics/remove_resources', {
            method: 'post',
            onSuccess:function(request){Element.hide('loader1')},
            parameters: {
                remove_resource_ids: topic_ids.toString(),
                topic_id: subject_id.toString()
            }
        });
    }
</script>
