
<% content_for :head do  %>
    <%=  stylesheet_link_tag "#{@direction}cce_reports/student_wise_report.css" %>
    <%= stylesheet_link_tag "topics/my_resources"%>
<% end %>

<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1>Topics</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Course-wise topics</div>

  <div id="inner-tab-menu">
    <ul>
    </ul>
  </div>
</div>


<div id="page-yield">
  <div class="bread_crumb">
    <%= link_to t('home'), :controller => "topics", :action=>"home" %> <div class = "bread-crumb-separator"> > </div>
    <%= t('subject_wise_topics') %>
  </div>
  <div id="hider">
    <% unless flash[:notice].nil? %>
        <p id="flash-msg"class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>

  <div class="label-field-pair">
    <label for="batch_id"><%= t('select_a_subject') %></label>
    <%= image_tag("loader.gif",
                  :align => "absmiddle",
                  :border => 0,
                  :id => "loader",
                  :style =>"display: none;" ) %>
    <div class="text-input-bg margin-left-10">
      <%= select :subject, :subject_id,
                 @subjects.map {|b| [b.name, b.id]},
                 {:prompt => "#{t('select_a_subject')}"},
                 {:onChange => "#{remote_function(:url => {:action => "dash_board"},
                                                  :with => "'subject_id='+ value",
                                                  :before => "Element.show('loader')",
                                                  :success => "Element.hide('loader')"
                 )}"} %>
    </div>
  </div>
  <div class="content_student_report">
    <div id="student_list">
      <%= render  :partial=>"topic_list" %>
    </div>
    <div id="report"></div>
  </div>
</div>
<script type="text/javascript">
    function set_active(){
        $$('.active-link').each(function(e){
            e.removeClassName('active-link themed_text');
        });
        this.addClassName('active-link themed_text')
    }
    function draw_report(){
        Element.show('loader')
        new Ajax.Request('/topics/dash_board',
                {asynchronous:true, evalScripts:true,
                    parameters:'topic='+this.id,onSuccess:function(request){Element.hide('loader')}
                })
    }
    document.observe("dom:loaded", function() {
        $$('.student-link').invoke('observe','click',draw_report);
        $$('.student-link').invoke('observe','click',set_active);
    });
</script>