<%-# Fedena
   #Copyright 2010 Foradian Technologies Private Limited
   #
   #This product includes software developed at
   #Project Fedena - http://www.projectfedena.org/
   #
   #Licensed under the Apache License, Version 2.0 (the "License");
   #you may not use this file except in compliance with the License.
   #You may obtain a copy of the License at
   #
   #  http://www.apache.org/licenses/LICENSE-2.0
   #
   #Unless required by applicable law or agreed to in writing,
   #software distributed under the License is distributed on an
   #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   #KIND, either express or implied.  See the License for the
   #specific language governing permissions and limitations
   #under the License. -%>

<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1>Topic</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Edit Topic</div>

</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %><p class="flash-msg"> <%= flash[:notice] %> </p><% end %>

  <% form_for :topic do |f| %>

      <%= error_messages_for :topic %>

      <div id="add_news_form">
        <div class="news_label_field">
          <label for="news_title"><%= t('title') %></label>
          <div id="news_title_text_field_bg"><%= f.text_field :name, :value => @topic.name %></div>
        </div>

        <div class="news_label_field">
          <label for="news_content"><%= t('content') %></label>
          <div id="news_content_text_field_bg">
            <%= f.redactor :description, :value => @topic.description %>
          </div>
        </div>
      </div>

      <%= submit_tag "", :value => "► #{t('update')}", :class => "news_publish_button" %>
  <% end %>
  <%= load_redactor_script %>
</div>
