

<div id="content-header">
  <div class="header-icon subjects-icon"></div>

  <h1>My Courses</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('home') %></div>


</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('subject_summary')}" ,:controller=> :lesson_plans,:action=>'subject_summary' %> </div>
      <div class="link-descr"><%= t('summary_of_subjects') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('my_topics')}" ,:action=>'index' %> </div>
      <div class="link-descr"><%= t('listing_of_topics_created') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('subject_topics')}" ,:action=>'dash_board' %>  </div>
      <div class="link-descr"><%= t('listing_of_subject_topics') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('my_resources')}" ,:action=>'my_resources' %>  </div>
      <div class="link-descr"><%= t('listing_of_my_resources') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('my_quiz')}" ,:controller=>"online_exam" ,:action=>'index' %>  </div>
      <div class="link-descr"><%= t('manage_topic_quiz') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('evaluation_patterns')}" ,:controller=>"evaluation_patterns" ,:action=>'index' %>  </div>
      <div class="link-descr"><%= t('manage_evaluation_patterns') %></div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('transcript')}" ,:controller=>"transcripts" ,:action=>'view_transcript' %>  </div>
      <div class="link-descr"><%= t('view_transcript') %></div>
    </div>
    <div class="extender"></div>
  </div>
</div>
