<div id="content-header">
  <div class="header-icon subjects-icon"></div>

  <h1>Topics</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Index</div>
  <div id="inner-tab-menu">
  <ul>

      <li class='themed_bg themed-dark-hover-background'><%= link_to "New", :action => "new" %></li>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "Assign Topics", :action => "assign_topics" %></li>

  </ul>
</div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
    <%= link_to t('home'), :controller => "topics", :action=>"home" %> <div class = "bread-crumb-separator"> > </div>
    <%= t('index') %>
  </div>
   <div class="box">
  <h4 align="center">My Topics</h4>

<ul id="category-list">

    <% @topics.each do |topic| %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="category-name"><%= link_to topic.name ,:action =>"show",:id=>topic.id%></div>
        <div class="category-edit"><%= link_to "Edit" ,:action =>"edit",:id=>topic.id%></div>
        <div class="category-delete"><%= link_to "Delete" ,:action =>"delete",:id=>topic.id%></div>
      </li>
     <% end %>

</ul>

<div class="extender"></div>
     </div>
</div>