<% content_for :head do %>
    <%= stylesheet_link_tag "topics/index" %>
<% end  %>
<div id="content-header">
  <div class="header-icon subjects-icon"></div>

  <h1>My Quiz</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Home</div>
  <div id="inner-tab-menu">
  <ul>

      <li class='themed_bg themed-dark-hover-background'><%= link_to "New Quiz", :controller=> :online_exam, :action => "new_online_exam" %></li>

  </ul>
</div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
    <%= link_to t('my_courses'), :controller => "topics", :action=>"home" %> <div class = "bread-crumb-separator"> > </div>
    <%= t('my_quiz') %>
  </div>
   <div class="box">
  <h4 align="center">My Quizes</h4>

<ul id="category-list">

    <% @online_exam_groups.each do |exam| %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="category-name"><%= link_to exam.name ,:controller=>:online_exam,:action =>"exam_details",:id=>exam.id%></div>
      </li>
     <% end %>

</ul>

<div class="extender"></div>
     </div>
</div>