<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1>Topic</h1>

  <div class='header-sep'>|</div>
  <div class='sub-header'>New Topic</div>

</div>

<div id="page-yield">
  <div class="bread_crumb">
    <%= link_to t('lesson_pan'), :controller => "topics", :action => "home" %>
    <div class="bread-crumb-separator"> ></div>
    <%= t('my_resources') %>
  </div>

  <%= render :partial=> 'resource_list' %>

  <% form_for(:resource, :url => {:action => 'upload_resources'}, :html => {:multipart => true}) do |s| %>
      <%= error_messages_for 'resource', :header_message => nil %>


      <div class="label-field-pair">
        <label for="name"><%= t('name') %></label>

        <div class="text-input-bg"><%= s.text_field :name %></div>
      </div>

      <div class="label-field-pair">
        <label for="tag"><%= t('resource_type') %></label>

        <div class="text-input-bg"><%= s.select :tag, ["Reading","Article","Caase","Book","Assignment"] %></div>
      </div>
      <div class="label-field-pair">
        <label for="student_image_file"><%= t('upload_resource') %> (<%= t('max_size') %>)</label>

        <div class="text-input-bg"><%= s.file_field :attachment, :size => 12 %></div>
      </div>

      <%= submit_tag "", :value => "► #{t('upload')}", :class => "submit_button", :disable_with => "► #{t('please_wait')}" %>

  <% end %>
</div>