

<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1>Topic</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>New Topic</div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= link_to t('lesson_plan'), :controller => "topics", :action=>"home" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('my_topics')}", :controller => "topics", :action => "index" %> <div class = "bread-crumb-separator"> > </div>
    <%= t('new_topic') %>
  </div>

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <% form_for :topic do |f| %>

      <%= error_messages_for :topic %>

      <div id="add_news_form">
        <div class="news_label_field">
          <label for="title"><%= t('title') %></label>
          <div id="news_title_text_field_bg"><%= f.text_field :name %></div>
        </div>

        <div class="news_label_field">
          <label for="news_content"><%= t('content') %></label>
          <div id="news_content_text_field_bg">
            <%= f.redactor :description %>
          </div>
        </div>
      </div>

      <%= submit_tag "", :value => "► #{t('create_topic')}", :class => "news_publish_button", :disable_with => "► #{t('please_wait')}" %>

  <% end %>
  <%= load_redactor_script %>
</div>
