<% content_for :head do %>
    <%= stylesheet_link_tag "topics/my_resources"%>
<% end %>

<div id="content-header">
  <div class="header-icon subjects-icon"></div>
  <h1>Topic</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Read Topic</div>


      <div id="inner-tab-menu">
        <ul>
          <% if @topic.user_id == @current_user.id %>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('edit_text')}",{  :action => "edit", :id => @topic.id } %></li>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "Add Resources", :action => "assign_resources", :id => @topic.id%></li>
          <% end %>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "My Topics", :action => "index" %></li>

        </ul>
      </div>


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= link_to t('lesson_plan'), :controller => "topics", :action=>"home" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('my_topics')}", :controller => "topics", :action => "index" %> <div class = "bread-crumb-separator"> > </div>
    <%= t('topic') %>
  </div>

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <div id="news_title">
    <%= @topic.name %>
  </div>

  <div id="news_content">
    <%= sanitize @topic.description , :tags => %w[b i a h1 h2 h3 u li ol strike p img font span sup sub tr td table th tbody thead strong em iframe], :attributes => %w[href src style border cellspacing cellpadding height width align]%>
  </div>


  <div class="resource-box">
    <p class="resource-head">Resources</p>
    <%= render :partial=> 'resource_list' %>
  </div>

  <div class="extender"></div>




</div>

