.rectangle{
    float: left;
    width: 155px;
    height: 88px;
    border: 2px solid #96070d;
    padding: 4px;
}
.rect-main{
    min-height: 150px;
    margin: auto;
}
.rect-sub{
    float: left;
    height: 120px;
    width: 163px;

}
#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:left;
    margin-top:35px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}
.submit_button {
    margin-top: 41px;
    margin-left: 0px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    float: left;
}
.label-field-pair label {
color: #444;
display: block;
font-size: 14px;
margin: 0 0 0px 0px;
width: 200px;
padding-top: 10px;
font-weight: 600;
}


.att-name{
    height: 60px;
}


.att-links{
    width: 100%;
    height: 38px;
}

.download-link{
    float: right;
    width: 30px;
    height: 25px;
    display: block;
    text-align: center;
    background: #96070d;
    margin-right: 10px;
}

.download-link a{
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Source Sans Pro', Helvetica, Arial ,sans-serif;
}

.delete-link a{
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
    display: block;
    font-size: 15px;
}


.delete-link{
    float: right;
    width: 30px;
    height: 25px;
    display: block;
    text-align: center;
    background: #96070d;
}